<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Octus User Management</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="lib/open-iconic/font/css/open-iconic.css">
</head>
<body>
    <script id="octus-template" type="text/template">
        <div class="user-data-bar">
            <span class="user-action-button oi" data-glyph="pencil" title="Edit User">
            </span>
            <span class="user-action-button oi remove" data-glyph="trash" title="Delete User">
            </span>
        </div>
        <div class="user-data-display">
            <div class="user-data-child">
                <label>First Name</label>
                <span><%= first_name %></span>
            </div>
            <div class="user-data-child">
                <label>Last Name</label>
                <span><%= last_name %></span>
            </div>
        </div>
    </script>

    <script id="octus-user-modal-template" type="text/template">
        <div class="bbm-modal__topbar">
            <h3 class="bbm-modal__title">User Management</h3>
        </div>
        <div class="bbm-modal__section">
            <div class="user-data-display">
                <div class="user-data-child">
                    <label>First Name</label>
                    <input id="first_name" type="text" placeholder="Enter first name"/>
                </div>
                <div class="user-data-child">
                    <label>Last Name</label>
                    <input id="last_name" type="text" placeholder="Enter last name"/>
                </div>
            </div>
        </div>
        <div class="bbm-modal__bottombar">
            <a href="#" class="bbm-button" id="user-data-save">Save</a>
            <a href="#" class="bbm-button" id="user-data-cancel">Cancel</a>
        </div>
    </script>

    <script id="octus-delete-last" type="text/template">
        <div class="bbm-modal__topbar">
            <h3 class="bbm-modal__title">Error!</h3>
        </div>
        <div class="bbm-modal__section">
            You cannot delete the last user
        </div>
        <div class="bbm-modal__bottombar">
            <a href="#" class="bbm-button">Ok</a>
        </div>
    </script>

    <div id="octus-users">
    </div>

    <div class="octus-icon-button" id="user-data-add">
        <span class="oi" data-glyph="plus" title="Add User"></span>
        <span>Add</span>
    </div>

    <div id="octus-user-modal"></div>

    <!-- include javascript files -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/backbone/backbone-min.js"></script>

    <!-- backbone modal -->
    <link rel="stylesheet" href="lib/backbone-modal/backbone.modal.css">
    <link rel="stylesheet" href="lib/backbone-modal/backbone.modal.theme.css">
    <script src="lib/backbone-modal/backbone.modal-min.js"></script>

    <script src="js/constants.js"></script>
    <script src="js/app.js"></script>
</body>

</html>